.complete {
  position: relative;
  top: 60px;
}

.complete-title {
  animation: complete 4s infinite;
}

@keyframes complete {
  0% {
    color: rgb(233, 13, 13);
  }

  25% {
    color: rgb(233, 211, 13);
  }

  50% {
    color: rgb(64, 233, 13);
    transform: scale(1.5);
  }

  75% {
    color: rgb(0, 38, 253);
  }

  100% {
    color: rgb(181, 16, 231);
  }
}