.background {
  z-index: -100;
  position: fixed;
  right: 0;
  bottom: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(219, 177, 89, 0.8);
}

.container {
  min-width: 580px;
  min-height: 304px;
  margin: 0 auto;
  padding: 25px 50px;
  border-radius: 5px;
  z-index: 100;
  display: flex;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.85);
}

@media screen and (max-width: 600px) {
  .container {
    min-width: unset;
    width: 95vw;
    min-height: 245px;
    padding: 20px;
    margin: 10px;
  }
}
